@model Kassa1.Models.Class1
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    <h3>Форма оформления покупки</h3>
    @using (Html.BeginForm("Buy", "Home", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.LastName)
        @Html.LabelFor(m => m.LastName, "Введите свое имя")
        <br />
        @Html.TextBoxFor(m => m.LastName)
        <br /><br />
        @Html.LabelFor(m => m.FirstName, "Введите адрес")
        <br />
        @Html.TextBoxFor(m => m.FirstName)
        <p><input type="submit" value="Отправить" /></p>
    }
</div>